:root
{
    --primary: #FAAE30;
    --secondary: #E6C169;
    --accent1: #9FCA6A;
    --accent2: #F2F2F7;
    --header: #174690;
}

.base
{
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.body
{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.table-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.table-controls
{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    max-width: 1024px;
    margin-bottom: 20px;
    padding: 0 10% 0 10%;
    /*align-items: flex-end;*/
}

.table-controls div input
{
    width: 80%;
    height: 1.1rem;
    /*font-size: 1.1rem;*/
    height: 110%;
}

.table-controls div button
{
    margin-right: 10px;
    width: 50%;
}
/*.table-controls button
{
    float: right;
}*/


.table
{
    width: 80%;
    display: flex;
    flex-direction: column;
    max-width: 1024px;
    
}

.table-header
{
    text-decoration: underline;
    font-weight: bold;
    background-color: var(--secondary);
    color: black;
    justify-content: center;
    align-items: center;
    border-width: 1px 0 1px 1px;
    width: 100%;
    display: flex;
    border-style: solid;
    border-color: black;
}

.table-row
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr .5fr;
    max-width: 1024px;
    min-width: 533px;
}

.table-cell
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-width: 0 0 1px 1px;
    border-style: solid;
    border-color: black;
    /* margin-left: 33%; */
    
}
.table-content
{
    margin: 5px 0 5px 10px;
    /* text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden; */
}

.table-cell__last-column
{
    border-right: 1px solid black;
}

.table-cell__last-row
{
    border-bottom: 1px solid black;
}

.display__none
{
    display: none;
}