@import "colorscheme.css";

*
{
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

/*:root
{
    --primary: #FAAE30;
    --secondary: #E6C169;
    --accent1: #9FCA6A;
    --accent2: #F2F2F7;
    --header: #174690;
}*/

.base
{
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.body
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 50px;
}

.header
{
    text-align: center;
    color: #174590;
    margin-bottom: 20px;
    margin-top: 20px;
}

.table-container
{
    display: flex;
    justify-content: center;
    width: 100%;
}

.table
{
    width: 80%;
    display: flex;
    flex-direction: column;
    /*max-width: 1024px;*/
    /*max-height: 85vh;*/
    overflow-y: scroll;
/*    -ms-overflow-style: none;   IE and Edge 
    scrollbar-width: none;   Firefox */
}

.test /*test removing scrollbar*/
{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.table::-webkit-scrollbar
{
    display: none;
}

.table-cell-header
{
    
    background-color: #6c757d;
    color: white;
    justify-content: center;
    align-items: center;
    border-width: 1px 0 1px 1px;
    width: 100%;
    display: flex;
    border-style: solid;
    border-color: black;
    text-align: center;
    min-height: 0;
    min-width: 0;
    white-space: nowrap;
}

.table-cell-header p
{
    margin: .5rem 0 .5rem 0;
    font-size: 1.1rem;
    overflow: hidden;
}

.table-row-header
{
    display: grid;
    grid-template-columns: 1fr .6fr .5fr 1fr .75fr 0.3fr;
    width: 100%;
    position: sticky;
    top: 0;
}

.table-row
{
    display: grid;
    grid-template-columns: 1fr .6fr .5fr 1fr .75fr 0.3fr;
    width: 100%;
}

.table-row:hover
{
    background-color: #e7f1ff;
}

.table-cell
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    min-height: 0;
    min-width: 0;
    
}
.table-cell *
{
    margin: 10px 5px 5px 10px; 
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.table-cell a
{
    width: auto;
    margin-right: 100%;
    margin-left: 0;
    color: var(--header-color);
    text-decoration: none;
}

.table-cell a:hover
{
    color: #000077;
    text-decoration: underline;
}

.table-cell__view
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.table-cell__view a
{
    background-color: var(--accent-two-color);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    color: black;
    text-decoration: none;
}

.table-cell__view a:hover
{
    background-color: #0b5ed7;
    color: white;
    cursor: pointer;
}

.table-cell__view a:active
{
    background-color: #0a57ca;
    color: white;
    cursor: pointer;
}

.last-column
{
    border-right: 1px solid gray;
}

.table-cell__last-row
{
    border-bottom: 1px solid gray;
}

.display__none
{
    display: none;
}








/*----------------*/

.main-input
{
    display: flex;
    flex-direction: column;
/*    justify-content: center;
    align-items: center;*/
}

.main-input__label
{
    margin: 0 0 0 10px;
}

.main-input__label--default
{
    color: black;
    transition: color 0.3s;
}

.main-input__label--warning
{
    ;
}

.main-input__label--error
{
    ;
}

.main-input__input
{
    /*text-align: center;*/
    width: 250px;
    height: 30px;
    margin: 0;
    padding-left: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    outline: none !important;
    transition: border-color 0.33s;
}

.main-input__input--default
{
    border-color: gray;
    transition: border-color 0.33s;
}

.main-input__input--warning
{
    border-color: goldenrod;
    transition: border-color 0.33s;
}

.main-input__input--error
{
    border-color: red;
    transition: border-color 0.33s;
}

.main-input__message
{
    align-self: center;
    font-size: 12px;
    font-weight: normal;
    margin: 0;
    border-radius: 0 0 8px 8px;
    /*color: white;*/
    padding: 0px 8px 2px 8px;
    transition: opacity 0.33s;
}

.main-input__message--default
{
    color: black;
    opacity: 0;
    background-color: var(--secondary-gray);
    transition: opacity 0.33s;
}

.main-input__message--warning
{
    color: black;
    opacity: 1;
    background-color: var(--highlight-yellow);
    transition: opacity 0.33s;
}

.main-input__message--error
{
    opacity: 1;
    background-color: var(--highlight-red);
    transition: opacity 0.33s;
}


/*----------------*/

.input-area
{
    display: flex;
    flex-direction: column;
}

.input-area hr
{
    width: 100%;
    color: lightgray;
}

.login-button
{
    margin-top: 10px;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0 5px 0;
    border: 2px solid var(--primary-color);
    background-color: var(--primary-color);
    transition: border-color 0.2s;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.login-button:hover
{
    cursor: pointer;
    border-color: var(--header-color);
    transition: border-color 0.2s;
}

.login-button:active
{
    background-color: var(--secondary-color);
}
